/*  marge */
* {
  margin: 0;
  padding: 0;
}
.stopMargPad {
  margin: 0;
  padding: 0;
}
.margTitre {
  margin-top: 130px;
}

/* hauteur */

.paragraphe {
  height: 400px;
}
.foot {
  height: auto;
}

/* largeur */
.larg100 {
  width: 100%;
}
.larg50 {
  width: 50%;
}
.largInput {
  width: 40%;
}
/* souris */
body {
  cursor: none !important;
}
.cursorNone {
  cursor: none !important;
}
.souris {
  width: 3rem;
  height: 3rem;
  border: 2px solid #886526;
  border-radius: 50%;
  position: absolute;
  z-index: 101 !important;
  transform: translate(-50%, -50%);
  pointer-events: none;
  backdrop-filter: sepia(70%);

  transition: all 0.5s ease;
  transition-property: background, transform;
}
.linkGrow {
  transform: scale(1.5) translate(-25%, -25%) !important;
  background: #886526 !important;
  opacity: 0.8 !important;
  z-index: 101 !important;
}
.hoveredLink {
  color: white !important;

  transition: 0.3s ease-in-out !important;
  z-index: 9998 !important;
}
.hoveredLien {
  background-color: black !important;
  color: #ffdea4 !important;
  transition: 0.3s ease-in-out !important;
  z-index: 9999 !important ;
}

/* bordure */

.bordureProfil {
  border: 2mm ridge #ffdea4;
}
.bordureDivG {
  border-radius: 20px 0 0 20px;
}
.bordureDivD {
  border-radius: 0 20px 20px 0;
}
.bordureCercleSkill {
  border-radius: 50%;
}
.bordureBackCarte {
  width: auto;
  border-radius: 25px;
}
/* back */
.backParagrapheSize {
  min-height: 400px;
}

.backSkillSize {
  background-size: 100% 100%;
  height: 500px;
}

.backSlideSize {
  height: 100vh;
  width: 100%;
  background-size: 100% 100%;
}

/* COLOR */
.bgFourOpac {
  background-color: rgba(136, 101, 38, 0.7);
}
.bgPrimary {
  background-color: #fffbf4;
}
.bgSecondary {
  background-color: #909090;
}
.bgTree {
  background-color: #ffdea4;
}
.bgFour {
  background-color: #886526;
}
.backFooter {
  background-color: #909090;
}
.btnCarte {
  background-color: #886526;
}
.textSlide {
  color: #404020;
}
.colorSubmit {
  background-color: #ffdea4;
}
.colorSubmit:hover {
  color: #ffdea4 !important;
}
/* divers */

.displayNone {
  display: none;
}

/*  media queries */

@media screen and (max-width: 1100px) {
  .ecranFontparagraphe {
    font-size: 22px;
  }
}

@media screen and (max-width: 770px) {
  .displayBlock {
    display: block;
  }
  .mobileNavLink30 {
    width: 30%;
    border: none !important;
  }

  .tailleModaleProjMob {
    width: 100% !important;
  }
  .backModalCompMobile {
    height: auto !important;
  }

  .mobileBackSlideSize {
    height: 50vh;
  }

  .mobileEffacePhotoMoiG {
    display: none;
  }
  .mobileBackSize {
    width: 14em !important;
    font-size: 30px;
  }
  .mobileCercleSkill {
    border-radius: 0;
  }
  .mobileSizeIcon {
    height: 30px;
    width: 30px;
  }

  .mobileFoot {
    flex-direction: column;
    align-items: center;
  }
  .mobileLarg100 {
    width: 100%;
  }
  .mobileFootHeight {
    min-height: 660px;
    height: auto;
  }
  .mobileMargTitre {
    margin-top: 0 !important;
  }
  .mobileParagraphe {
    height: 600px !important;
  }
  .mobileDernierCompMod {
    margin-bottom: 1.5em;
  }
  .supprimDialPhotoMob {
    display: none !important;
  }
}

@media screen and (max-width: 650px) {
  .mobileFontpara {
    font-size: 20px !important;
  }
  .mobileNavSize {
    height: 150px !important;
  }

  .mobileNavProjet {
    height: 100px;
    flex-direction: column;
    justify-content: space-around !important;
    align-items: center;
  }
  .mobileParagraphe2 {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 550px) {
  .mobileParagraphe550 {
    height: 680px !important;
  }
  .mobileNavLink70 {
    width: 80%;
  }

  .largImgModaleMob {
    width: 100% !important;
  }
  .blocapMob {
    width: 14em !important;
    height: 120px !important;
  }

  .blocapFontMob {
    font-size: 0.8em !important;
  }

  .mobileBackSize550 {
    height: 4em !important;
    width: 7em !important;
    font-size: 30px;
    border-radius: 15px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center;
  }
  .margTitreMobile {
    margin-top: 40px;
  }
}

@media screen and (max-width: 450px) {
  .mobileFont {
    font-size: 20px !important;
  }
  .stopPadMargX {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .mobileStopPadTop {
    padding-top: 0 !important;
  }
  .mobileBackSkillSize {
    height: 550px;
  }
  .blocapMob450 {
    width: 10em !important;
    height: 120px !important;
  }
}

@media screen and (max-width: 380px) {
  .carteMobile {
    width: 340px !important;
  }
  .backPopMobile {
    height: 80px !important;
    border-radius: 4px !important;
  }
}
