/*  marge */
* {
  margin: 0;
  padding: 0;
}
.stopMargPad {
  margin: 0;
  padding: 0;
}
.margTitre {
  margin-top: 130px;
}

/* hauteur */
.slider {
  height: 500px;
}
.paragraphe {
  height: 400px;
}
.foot {
  height: auto;
}

/* largeur */
.larg100 {
  width: 100%;
}
.larg50 {
  width: 50%;
}
.largInput {
  width: 40%;
}

/* cube 
.cube {
  width: 75px;
  height: 75px;
}
*/
/* bordure */

.bordureProfil {
  border: 2mm ridge #ffdea4;
}
.bordureDivG {
  border-radius: 20px 0 0 20px;
}
.bordureDivD {
  border-radius: 0 20px 20px 0;
}
.bordureCercleSkill {
  border-radius: 50%;
}
.bordureBackCarte {
  border-radius: 25px;
}
/* back */
.backParagrapheSize {
  min-height: 400px;
}

.backSkillSize {
  background-size: 100% 100%;
}

.backSlideSize {
  height: 100vh;
  width: 100%;
  background-size: 100% 100%;
}

/* COLOR */
.bgPrimary {
  background-color: #fffbf4;
}
.bgSecondary {
  background-color: #909090;
}
.bgTree {
  background-color: #ffdea4;
}
.bgFour {
  background-color: #886526;
}
.backFooter {
  background-color: #909090;
}
.btnCarte {
  background-color: #886526;
}
.textSlide {
  color: #404020;
}
.colorSubmit {
  background-color: #ffdea4;
}
.colorSubmit:hover {
  color: #ffdea4 !important;
}
/* divers */

.displayNone {
  display: none;
}

/*  media queries */
@media screen and (max-width: 770px) {
  .tailleModaleProjMob {
    width: 100% !important;
  }
  .backModalCompMobile {
    height: auto !important;
  }
  .mobileBackSlideSize {
    height: 350px;
  }
  .mobileCentrePhotoMoi {
    justify-content: center;
  }
  .mobileBackSize {
    width: 14em !important;
    font-size: 30px;
  }
  .mobileSizeIcon {
    height: 30px;
    width: 30px;
  }
  .mobileFoot {
    flex-direction: column;
    align-items: center;
  }
  .mobileLarg100 {
    width: 100%;
  }
  .mobileFootHeight {
    min-height: 660px;
    height: auto;
  }
  .mobileMargTitre {
    margin-top: 0 !important;
  }
  .mobileParagraphe {
    height: 550px !important;
  }
  .mobileDernierCompMod {
    margin-bottom: 1.5em;
  }
  .supprimDialPhotoMob {
    display: none !important;
  }
}

@media screen and (max-width: 650px) {
  .mobileParagraphe2 {
    height: 530px !important;
  }
}

@media screen and (max-width: 550px) {
  .mobileNavProjet {
    height: 15em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .largImgModaleMob {
    width: 100% !important;
  }
  .blocapMob {
    width: 14em !important;
    height: 120px !important;
  }

  .blocapFontMob {
    font-size: 0.8em !important;
  }

  .mobileBackSize550 {
    height: 4em !important;
    width: 7em !important;
    font-size: 30px;
    border-radius: 15px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center;
  }
  .margTitreMobile {
    margin-top: 40px;
  }
}

@media screen and (max-width: 450px) {
  .mobileFont {
    font-size: 20px !important;
  }
  .stopPadMargX {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .mobileStopPadTop {
    padding-top: 0 !important;
  }
  .mobileBackSkillSize {
    height: 550px;
  }
  .blocapMob450 {
    width: 10em !important;
    height: 120px !important;
  }
}

@media screen and (max-width: 380px) {
  .backPopMobile {
    height: 80px !important;
    border-radius: 4px !important;
  }
}
